{{input type="text" value=daysInput }}
{{input type="text" value=dataInput }}

<tl>
	<td>Moving Average:</td>
	<td>{{movingAverage}}</td>
</tl>

<tl>
	<td>Exponential Moving Average:</td>
	<td>{{exponentialMovingAverage}}</td>

	{{line-chart data=model options=options}}

</tl>